<!DOCTYPE html>
<html lang="en">
  <head>
    <title>News Aggregator</title>
  </head>

  <body>
    <h2>News Aggregator</h2>
    <p><a href="/articles">Check Out Some Articles</a></p>
    <p><a href="/articles/new">Submit A New Article</a></p>
  </body>
</html>
